<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="registration-form.html">
<link rel="import" href="admin-regis.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../index.html">

<dom-module is="dom-bind" id="admin-home">
	<template>
		<style>	
		
		paper-button{
			width:5%;
		}
		#title{
			position:absolute;
			left:22%;
		}
		#item1{
			position:absolute;
			left:43%;
		}
		#item2{
			position:relative;
			left:1%;
		}
		#item3{
			position:relative;
			left:2%;
		}
		#card{
			width:100%;
		}
		#icond{
			position:relative;
			left:80%;
		}
		#icone{
			position:relative;
			left:1%;
		}
		#paper-tabs{
			width:95%;
		}
		#upload{
			height:100%;
			width:72%;
			overflow: scroll;
		}
		#xmltext{
			position:relative;
			left:20px;
		}
		#buttons{
			position:relative;
			bottom:3%;
			left:30%;
		}

		</style>
		<paper-dialog id="createUser" modal alwaysOnTop="true">
		<admin-regis></admin-regis>	
		</paper-dialog>

		<paper-dialog id="upload" modal alwaysOnTop="true">
			<h2>Upload XML</h2>
			<paper-textarea label="Paste your xml file here" value="{{xmlfile}}"></paper-textarea>
			<div id="buttons">
			<paper-button dialog-dismiss>Cancel</paper-button>
			<paper-button dialog-confirm on-tap="sendfile">Upload</paper-button>
			</div>
		</paper-dialog>
		

	<paper-header-panel class="red">
		<paper-toolbar>
		<paper-tabs id="paper-tabs" selected="{{selected}}" >
			<paper-tab on-tap="tab1">Manage Workflows</paper-tab>
			<paper-tab on-tap="tab2">Manage Users</paper-tab>
		<paper-tabs>
		<paper-item id="item2">Admin</paper-item>
		<paper-button id="item3" on-tap="logout">Logout</paper-button>
		</paper-toolbar>
	 </paper-header-panel>


	<iron-ajax
		id="getWorkflowsAjax"
		auto url="/instances/getWorkflows"	
		params='{"role":"Student"}'
		handle-as="json"
		last-response={{workflows}}>
	</iron-ajax>

	<iron-ajax
		id="deleteUserAjax"
		url="/users/deleteUser"
		method="POST"
		handle-as="json"
		content-type="application/json"
		on-response="handleDeleteUserResponse">
	</iron-ajax>

	<iron-ajax
		id="uploadAjax"
		url="/instances/createNewWorkflow"
		method="POST"
		handle-as="json"
		content-type="application/json"
		on-response="handleUploadResponse">
	</iron-ajax>

	<iron-ajax
		id="getUsersAjax"
		auto url="/users/getAllUsers"
		handle-as="json"
		last-response="{{users}}">
	</iron-ajax>

	<iron-pages id="iron-pages" selected="{{selected}}">
	<div>
	<paper-listbox id="mylistbox"class="dropdown-content">
		<template is="dom-repeat" items="[[workflows]]">
			<paper-card id="card">
			<paper-item id="instance" value="[[item.id]]" on-tap="workflowDetail">Workflow:[[item.name]]</b><br>Owner:[[item.owner]]<br>Created: [[item.created]]
			<!--<paper-icon-button id="icond" value="[[item]]" src="/image/delete.png" on-tap="deleteWorkflow"></paper-icon-button>-->
			</paper-item>
			<!--<paper-icon-button id="formicon" src="/image/back.png" on-tap="newInstance"></paper-icon-button>-->
			<!--<paper-icon-button id="icone" src="/image/edit.png" on-tap="checkInstances"></paper-icon-button>
			<paper-icon-button id="icond" src="/image/delete.png" on-tap="newInstance"></paper-icon-button>-->
			
			</paper-card>
		</template>
	</paper-listbox>
	<paper-icon-button id="icone" src="/image/edit.png" on-tap="uploadFile"></paper-icon-button>
	</div>

	<div>	<div>
	<paper-listbox id="mylistbox"class="dropdown-content">
		<template id="userlist" is="dom-repeat" items="{{users.data}}">
			<paper-card id="card">
			<paper-item id="instance" value="[[item.id]]" >User Name:[[item.userName]]<br>User Id:[[item.userId]]
			<paper-icon-button id="icond" value="[[item]]" src="/image/delete.png" on-tap="deleteUser1"></paper-icon-button>
			</paper-item>
			
			</paper-card>
		</template>
	</paper-listbox>
			<paper-icon-button id="icone" src="/image/edit.png" on-tap="createUser1"></paper-icon-button>

	</div></div>

	</iron-pages>
	</template>
	<script>
	Polymer({
		is: "admin-home",

		properties:{
			selected:{
				type:Number,
				value: 0,
			},
			userrole:{
				type:String,
				value:"Student",
			},
			xmlfile:{
				type:String,
			}
		},	
		ready: function(){
				this.$.getWorkflowsAjax.params = {"role": this.userrole};
				this.$.getWorkflowsAjax.generateRequest();
				this.$.getUsersAjax.generateRequest();
			},
			
		uploadFile: function(){
			upload.open();
		},
		sendfile: function(){
			alert(this.xmlfile);
			this.$.uploadAjax.body = {"xmlf":this.xmlfile};
			this.$.uploadAjax.generateRequest();
		},
		handleUploadResponse:function(request){
			if(request.detail.response.success==false){
				alert("Failed")
			}
			else{
				alert("Successfully Create the workflow");
				this.$.getWorkflowsAjax.params = {"role": this.userrole};
				this.$.getWorkflowsAjax.generateRequest();
			}			
		},
		deleteUser1:function(e){
			var model = e.model;
			var id=e.model.item.userId;
			alert(e.model.item.userId);	
			if(id=="admin"){
				alert("Deleting Admin is not allowed");
				return;
			}
			this.$.deleteUserAjax.body={"userObj": {"userId": id}};
			this.$.deleteUserAjax.generateRequest();
			this.$.getUsersAjax.generateRequest();
		},
		handleDeleteUserResponse:function(request){
			alert(request.detail.response.success);	
			alert(request.detail.response.message);
			
		},
		logout: function() {
				localStorage.clear();
				location.href = "index.html";
			},
		createUser1:function(){

			createUser.open();
		},
		tab1: function(){
			selected=0;
			this.$.getWorkflowsAjax.params = {"role": this.userrole};
			this.$.getWorkflowsAjax.generateRequest();
		},
		tab2:function(){
			selected=1;
			this.$.getUsersAjax.generateRequest();
		}
  	});
	</script>
</dom-module>


