<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../index.html">

<dom-module id="home-page">
	<template>
		<style>	
		
		paper-button{
			width:5%;
		}
		#title{
			position:absolute;
			left:22%;
		}
		#item1{
			position:relative;
			left:1%;
		}
		#item2{
			position:relative;
			left:3%;
		}
		#item3{
			position:relative;
			left:5%;
		}
		#card{
			width:100%;
		}
		#icond{
			position:relative;
			left:80%;
		}
		#icone{
			position:relative;
			left:90%;

		}
		#detailDio{
			width:50%;
			text-align: center;
		}
		#paper-tabs{
			width:85%;
		}


		</style>
	

	<paper-dialog id="detailDio" modal alwaysOnTop="true">
			<paper-item >Workflow Detail</paper-item>
			<paper-item value="{{workflowname}}">Name: {{workflowname}}</paper-item>
			<paper-item value="{{workflowform}}">Form: {{workflowform}}</paper-item>
			<paper-item value="{{workflowgroups}}">Groups: {{workflowgroups}}</paper-item>
			<paper-item value="{{workflowdate}}">Created: {{workflowdate}}</paper-item>
			<paper-button dialog-dismiss autofocus>Cancel</paper-button>
		</div>
    </paper-dialog>

	<paper-header-panel class="red">
		<paper-toolbar>
        <div class="paper-header">Just Our Workflow Notation</div>
		<paper-tabs id="paper-tabs" selected="{{selected}}" >
			<paper-tab on-tap="tab1">Workflows</paper-tab>
			<paper-tab on-tap="tab2">All Instances</paper-tab>
		<paper-tabs>
		
		<paper-item id="item1" value={{username}}>{{username}}</paper-item>
		<paper-item id="item2" value={{userrole}}>{{userrole}}</paper-item>
		<paper-button id="item3" on-tap="logout">Logout</paper-button>
		</paper-toolbar>
    </paper-header-panel>
    <iron-ajax auto 
        url="http://www.json-generator.com/api/json/get/crkSCFTVvm?indent=2" 
        handle-as="json" 
        last-response="{{items}}">
    </iron-ajax>

		<iron-pages id="iron-pages" selected="{{selected}}">
	<div>
	<paper-listbox id="mylistbox"class="dropdown-content">
		<template is="dom-repeat" items="[[items]]">
			<paper-card id="card">
			<paper-item id="instance" value="[[item.id]]" on-tap="workflowDetail">Workflow: [[item.name]]</b><br>Owner: [[item.owner]] <br> Created: [[item.created]]
			<!--<paper-icon-button id="icond" value="[[item]]" src="/image/delete.png" on-tap="deleteWorkflow"></paper-icon-button>-->
			</paper-item>
			<paper-icon-button id="icone" src="/image/edit.png" on-tap="checkInstances"></paper-icon-button>
			
			</paper-card>
		</template>
	</paper-listbox>
	</div>

	<div>page2</div>

	</iron-pages>

	
	</template>

	<script>

	 Polymer({
            is: "home-page",
			properties: {
				username: {
					type: String,
					value: function(){return localStorage.getItem("userId");},
				},

				selected:{
					type: Number,
					value:0,
				},
					
				userrole: {
					type: String,
					value: function(){return localStorage.getItem("userRole");},

				},
				workflowname: {
					type: String,
					value:function(){return {};}
				}
			},
			tab1: function(){
				selected=0;
			},
			tab2:function(){
				selected=1;
			},
            logout: function() {
				alert("logging out " + this.username);
				localStorage.clear();
				location.href = "index.html";
			},
			naviForm: function(){
				var role=localStorage.getItem("userRole");
				if(role=="stoodent"){
					location.href = "/wf-spn-stu-page.html";
				}
			},
			deleteWorkflow: function(e){
				var model = e.model;		
				localStorage.setItem("id",model.item._id);
				localStorage.setItem("name",model.item.name);
				alert(localStorage.getItem("id"));
			 },
			checkInstances: function(){
				location.href ="/instance.html";
			},
			workflowDetail: function(e){
				var model=e.model;
				this.workflowname=model.item.name;
				detailDio.open();
			}
			

        });

	</script>


</dom-module>

