<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../registration-page.html">

<dom-module id="login-box">
    <template>
        <style>
			:host {
				display: block;
			}

			paper-card {
				min-width: 500px;
			}

			paper-card ::content .title-text {
				text-align: center;
			}

			paper-card .card-actions {
				text-align: right;
			}
        </style>

        <iron-ajax auto url="/users/allRoles" handle-as="json" debounce-duration="300" last-response="{{rolesList}}"></iron-ajax>

		<iron-ajax id="verifyAjax"
			url="/users/verifyUser"
			method="POST"
			handle-as="json"
			content-type="application/json"
			on-response="handleAuthResponse"></iron-ajax>

		<paper-card id="login-form" heading="Please Log In">
			<div class="card-content">
				<paper-input class="username" label="Username" value="{{username}}"></paper-input>
				<paper-input class="password" label="Password" type="password" value="{{password}}"></paper-input>
				<paper-dropdown-menu class="dropdownmenu" label="Role" value="{{role}}">
					<paper-listbox class="dropdown-content">
						<template is="dom-repeat" items="[[rolesList]]">
							<paper-item class="items">{{item}}</paper-item>
						</template>
					</paper-listbox>
				</paper-dropdown-menu>
			</div>
			<div class="card-actions">
				<paper-button class="button" flat on-tap="login">Login</paper-button>
				<paper-button class="button" flat on-tap="loadRegistration">Register</paper-button>
			</div>
		</paper-card>        
    </template>
    <script>
        Polymer({
            is: "login-box",
			properties: {
				username: String,
				password: String,
				role: String
			},
            login: function() {
				//this.$.verifyAjax.body = {"userId": this.username, "password": this.password, "role": this.role};
				this.$.verifyAjax.body = {"userObj": {"userId": this.username, "password": this.password, "role": this.role}};
				this.$.verifyAjax.generateRequest();
			},
			loadRegistration: function() {
				//alert("registering");
				location.href = "/registration-page.html";
			},
			handleAuthResponse: function(request) {
				console.log(request.detail.response);
				console.log(this.$.verifyAjax.lastResponse);
				// NEED TO FIGURE OUT HOW TO CHECK THE RESPONSE
				alert("logging in " + this.username);
				location.href ="/home.html";
			}
        });
    </script>
</dom-module>