<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="workflow-spn-secretary-form">
	<template>
		<style>	

            paper-button{
                width:5%;
            }
            #title{
                position:absolute;
                left:22%;
            }
            #item1{
                position:absolute;
                left:43%;
            }
            #item2{
                position:absolute;
                left:65%;
            }
            #item3{
                position:absolute;
                left:90%;
            }
            #card{
                width:100%;
            }
            #icond{
                position:relative;
                left:80%;
            }
            #icone{
                position:relative;
                left:75%;
            }
            paper-input {
                --paper-input-container-disabled: {
                    opacity: 0.7;
                };
            } 

		</style>

		<iron-ajax auto
			url="/users/getUsersWithRole"
			handle-as="json"
			params="Instructor"
			debounce-duration="300"
			last-response="{{instructors}}">
		</iron-ajax>

		<iron-ajax id="submitFormAjax"
			url="/data/saveFormData"
			method="POST"
			handle-as="json"
			content-type="application/json"
			on-response="handleSubmitFormResponse">
		</iron-ajax>

		<iron-ajax id="getStudentFormAjax"
			url="/data/getFormData"
			method="GET"
			params="studentFormParams"
			handle-as="json"
			content-type="application/json"
			on-response="handleStudentFormResponse">
		</iron-ajax>

		<iron-ajax id="getInstructorFormAjax"
			url="/data/getFormData"
			method="GET"
			params="instructorFormParams"
			handle-as="json"
			content-type="application/json"
			on-response="handleInstructorFormResponse">
		</iron-ajax>

		<iron-ajax id="getDirectorFormAjax"
			url="/data/getFormData"
			method="GET"
			params="directorFormParams"
			handle-as="json"
			content-type="application/json"
			on-response="handleDirectorFormResponse">
		</iron-ajax>

		<iron-ajax id="getSecretaryFormAjax"
			url="/data/getFormData"
			method="GET"
			params="secretaryFormParams"
			handle-as="json"
			content-type="application/json"
			on-response="handleSecretaryFormResponse">
		</iron-ajax>

		<paper-header-panel class="red">
			<paper-toolbar>
				<div class="paper-header">Just Our Workflow Notation</div>
				<!-- title here should be the .workflowName of the workflow instance -->
				<paper-item id="title">Workflows</paper-item>
				<paper-item id="item1" value={{username}}>{{username}}</paper-item>
				<paper-item id="item2" value={{userrole}}>{{userrole}}</paper-item>
				<paper-button id="item3" on-tap="logout">Logout</paper-button>
			</paper-toolbar>
		</paper-header-panel>

		<!-- ADD NEW FIELDS AND CHANGE PARAMETERS FOR FORMS BELOW -->
		<paper-card id="secretary-form" heading="Graduate Course Request Form">
			<div class="card-content">
                <!-- Student -->
				<b>Student form below</b>
				<paper-input id="firstNameInput" disabled="true" label="First name" maxlength="50" value={{firstName}}></paper-input>
				<paper-input id="lastNameInput" disabled="true" label="Last name" maxlength="50" value={{lastName}}></paper-input>
				<paper-input id="middleInitialsInput" disabled="true" label="Middle initials" maxlength="50" value={{middleInitials}}></paper-input>
				<paper-input id="ruidInput" disabled="true" label="RUID" maxlength="50" value={{ruid}}></paper-input>
				<paper-input id="officialRutgersEmailInput" disabled="true" label="Official Rutgers Email" maxlength="50" value={{officialRutgersEmail}}></paper-input>
				<paper-input id="declaredGraduationDateInput" disabled="true" label="Declared Graduation Date" maxlength="50" value={{declaredGraduationDate}}></paper-input>
				<paper-input id="cumulativeGpaInput" disabled="true" label="Cumulative GPA" maxlength="50" value={{cumulativeGpa}}></paper-input>
				<paper-input id="honorsSchoolInput" disabled="true" label="Member of the Honors Program?" maxlength="50" value={{honorsSchool}}></paper-input>
				<paper-input id="semesterAndYearInput" disabled="true" label="Semester and Year" maxlength="50" value={{semesterAndYear}}></paper-input>
				<paper-input id="schoolNumberInput" disabled="true" label="School #" maxlength="50" value={{schoolNumber}}></paper-input>
				<paper-input id="subjectNumberInput" disabled="true" label="Subject #" maxlength="50" value={{subjectNumber}}></paper-input>
				<paper-input id="courseNumberInput" disabled="true" label="Course #" maxlength="50" value={{courseNumber}}></paper-input>
				<paper-input id="sectionNumberInput" disabled="true" label="Section #" maxlength="50" value={{sectionNumber}}></paper-input>
				<paper-input id="indexNumberInput" disabled="true" label="Index #" maxlength="50" value={{indexNumber}}></paper-input>
				<paper-input id="numberOfCreditsInput" disabled="true" label="Number of Credits" maxlength="50" value={{numberOfCredits}}></paper-input>
				<paper-input id="courseTitleInput" disabled="true" label="Course Title #" maxlength="50" value={{courseTitle}}></paper-input>
				<paper-input id="reasonsForTakingCourseInput" disabled="true" label="Reasons for taking the course:" maxlength="50" value={{reasonsForTakingCourse}}></paper-input>
				<paper-dropdown-menu id="instructorUserIdInput" disabled="true" class="dropdownmenu" label="Instructor" value="{{instructorUserId}}">
					<paper-listbox class="dropdown-content">
						<template is="dom-repeat" items="[[instructors]]">
							<paper-item class="items">{{item.userId}}</paper-item>
						</template>
					</paper-listbox>
				</paper-dropdown-menu>
                <!--  Instructor -->
				<b>Student form below</b>
                <paper-input id="instructorApprovalInput" disabled="true" label="Approved by Instructor" maxlength="50" value={{instructorApproval}}></paper-input>
                <paper-input id="instructorApprovalDateInput" disabled="true" label="Approval Date" maxlength="50" value={{instructorApprovalDate}}></paper-input>
                <!-- Director -->
				<b>Student form below</b>
                <paper-input id="directorApprovalInput" disabled="true" label="Approved by Director" maxlength="50" value={{directorApproval}}></paper-input>
                <paper-input id="directorApprovalDateInput" disabled="true" label="Approval Date" maxlength="50" value={{directorApprovalDate}}></paper-input>
                <!-- Secretary -->
				<b>Secretary form below</b>
                <paper-input id="spnInput" label="Special Permission #" maxlength="50" value={{spn}}></paper-input>

				<div class="card-actions">
					<paper-button id="submitFormButton" flat on-tap="submitForm">Submit Form</paper-button>
				</div>
			</div>
		</paper-card>
		<!-- ADD NEW FIELDS AND CHANGE PARAMETERS FOR FORMS ABOVE -->
	</template>
	</template>

	<script>
		Polymer({
		is: "workflow-spn-secretary-form",
			properties: {
				userId: String,
				instanceId: String,
				formAlias: String,
				studentFormAlias: {
                    type: String,
                    value: "studentForm"
                },
				studentFormParams: {},
				instructorFormAlias: {
                    type: String,
                    value: "instructorForm"
                },
				instructorFormParams: {},
                directorFormAlias: {
                    type: String,
                    value: "directorForm"
                },
                directorFormParams: {},
                secretaryFormAlias: {
                    type: String,
                    value: "secretaryForm"
                },

				/* PROPERTIES FOR FORMS BELOW */
				/* Student form */
				firstName: String,
				lastName: String,
				middleInitials: String,
				ruid: String,
				officialRutgersEmail: String,
				declaredGraduationDate: String,
				cumulativeGpa: String,
				honorsSchool: String,
				semesterAndYear: String,
				schoolNumber: String,
				subjectNumber: String,
				courseNumber: String,
				sectionNumber: String,
				indexNumber: String,
				numberOfCredits: String,
				courseTitle: String,
				reasonsForTakingCourse: String,
				instructorUserId: String,
				/* Instructor form */
                instructorApproval: String,
                instructorSignature: String,
                instructorApprovalDate: String,
				/* Director form */
                directorApproval: String,
                directorSignature: String,
                directorApprovalDate: String,
                /* Secretary form*/
                spn: String,
                secretarySignature: {
                    type: String,
                    value: function() {return localStorage.getItem("userId");}
                },
                secretarySignatureDate: String,
			},
			ready: function() {
				this.instanceId = localStorage.getItem("instanceId");
				this.formAlias = "secretaryForm";
				this.$.getStudentFormAjax.params = {"instanceId": this.instanceId, "formAlias": this.studentFormAlias};
				this.$.getStudentFormAjax.generateRequest();
				this.$.getInstructorFormAjax.params = {"instanceId": this.instanceId, "formAlias": this.instructorFormAlias};
				this.$.getInstructorFormAjax.generateRequest();
				this.$.getDirectorFormAjax.params = {"instanceId": this.instanceId, "formAlias": this.directorFormAlias};
				this.$.getDirectorFormAjax.generateRequest();
                this.$.getSecretaryFormAjax.params = {"instanceId": this.instanceId, "formAlias": this.secretaryFormAlias};
                this.$.getSecretaryFormAjax.generateRequest();
			},
			logout: function() {
				console.log("student-form @ logout: clearing local storage and logging out " + this.username);
                localStorage.clear();
				location.href = "index.html";
			},
			submitForm: function() {
				console.log("student-form @ submitForm: submitting form and returns to home");
				this.secretarySignatureDate = Date.now();
				this.$.submitFormAjax.body = {"instanceId": this.instanceId, "formAlias": this.formAlias,
				"status": "submitted" , "lastEdit": Date.now(), "data":
					{
						"spn": this.directorApproval, "secretarySignature": this.secretarySignature,
						"secretarySignatureDate": this.secretarySignatureDate
					}
				};
				this.$.submitFormAjax.generateRequest();
				location.href="home.html";
			},
			handleSubmitFormResponse: function(request) {
				console.log(request);
				console.log(request.detail.response);
				console.log(this.$.submitFormAjax.lastResponse);
				if( request === undefined) {
					console.log("student-form @ handleSubmitFormResponse: request === undefined");
				} else if(request.success === true) {
					console.log("student-form @ handleSubmitFormResponse: form saved");
				} else if (request.success === false){
					console.log("student-form @ handleSubmitFormResponse: request.success === \"false\"");
				}
				else {
					console.log("student-form @ handleSubmitFormResponse: ELSE");
				}
			},
			handleStudentFormResponse: function(request) {
				console.log(request.detail.response);
				console.log(this.$.getStudentFormAjax.lastResponse);
				if (request.success === "true") {
                    if (request.formData.data.firstName !== "") {
                        this.firstName = request.formData.data.firstName;
                        this.lastName = request.formData.data.lastName;
                        this.middleInitials = request.formData.data.middleInitials;
                        this.ruid = request.formData.data.ruid;
                        this.officialRutgersEmail = request.formData.data.officialRutgersEmail;
                        this.declaredGraduationDate = request.formData.data.declaredGraduationDate;
                        this.cumulativeGpa = request.formData.data.cumulativeGpa;
                        this.honorsSchool = request.formData.data.honorsSchool;
                        this.semesterAndYear = request.formData.data.semesterAndYear;
                        this.schoolNumber = request.formData.data.schoolNumber;
                        this.subjectNumber = request.formData.data.subjectNumber;
                        this.courseNumber = request.formData.data.courseNumber;
                        this.sectionNumber = request.formData.data.sectionNumber;
                        this.indexNumber = request.formData.data.indexNumber;
                        this.numberOfCredits = request.formData.data.numberOfCredits;
                        this.courseTitle = request.formData.data.courseTitle;
                        this.reasonsForTakingCourse = request.formData.data.reasonsForTakingCourse;
						this.instructorUserId = request.formData.data.reasonForTakingCourse;
                        /* Disables fields pertaining to loaded form*/
                        this.$.firstNameInput.disabled = "true";
                        this.$.lastNameInput.disabled = "true";
                        this.$.middleInitialsInput.disabled = "true";
                        this.$.ruidInput.disabled = "true";
                        this.$.officialRutgersEmailInput.disabled = "true";
                        this.$.declaredGraduationDateInput.disabled = "true";
                        this.$.cumulativeGpaInput.disabled = "true";
                        this.$.honorsSchoolInput.disabled = "true";
                        this.$.semesterAndYearInput.disabled = "true";
                        this.$.schoolNumberInput.disabled = "true";
                        this.$.subjectNumberInput.disabled = "true";
                        this.$.courseNumberInput.disabled = "true";
                        this.$.sectionNumberInput.disabled = "true";
                        this.$.indexNumberInput.disabled = "true";
                        this.$.numberOfCreditsInput.disabled = "true";
                        this.$.courseTitleInput.disabled = "true";
                        this.$.reasonsForTakingInput.disabled = "true";
						this.$.instructorUserId.disabled = "true";
                        /* Disables submit button if current user has submitted already */
                        if (request.formData.formAlias === this.formAlias) {
                            this.$.submitFormButton.disabled = "true";
                        }
                    }
				}
				else {
					console.log("secretary-form @ handleStudentFormResponse: success !== true");
				}
			},
			handleInstructorFormResponse: function(request) {
				console.log(request.detail.response);
				console.log(this.$.getInstructorFormAjax.lastResponse);
				if(request.success === "true") {
                    if(request.formData.data.instructorApproval !== "") {
                        this.instructorApproval = request.formData.data.instructorApproval;
					    this.instructorSignature = request.formData.data.instructorSignature;
					    this.instructorApprovalDate = request.formData.data.instructorApprovalDate;
                        /* Disables fields pertaining to loaded form*/
                        this.$.instructorApprovalInput.disabled = "true";
                        this.$.instructorApprovalDateInput.disabled = "true";
                        /* Disables submit button if current user has submitted already */
                        if (request.formData.formAlias === this.formAlias) {
                            this.$.submitFormButton.disabled = "true";
                        }
                    }
				}
				else {
					console.log("secretary-form @ handleInstructorFormResponse: success !== true");
				}
			},
            handleDirectorFormResponse: function(request) {
				console.log(request.detail.response);
				console.log(this.$.getDirectorFormAjax.lastResponse);
				if(request.success === "true") {
                    if(request.formData.data.directorApproval !== "") {
                        this.directorApproval = request.formData.data.directorApproval;
                        this.directorSignature = request.formData.data.directorSignature;
                        this.directorApprovalDate = request.formData.data.directorApprovalDate;
                        /* Disables fields pertaining to loaded form*/
                        this.$.directorApprovalInput.disabled = "true";
                        this.$.directorApprovalDateInput.disabled = "true";
                        /* Disables submit button if current user has submitted already */
                        if (request.formData.formAlias === this.formAlias) {
                            this.$.submitFormButton.disabled = "true";
                        }
                    }
				}
				else {
					console.log("secretary-form @ handleDirectorFormResponse: success !== true");
				}
			},
            handleSecretaryFormResponse: function(request) {
				console.log(request.detail.response);
				console.log(this.$.getDirectorFormAjax.lastResponse);
				if(request.success === "true") {
                    if(request.formData.data.secretarySignature !== "") {
                        this.spn = request.formData.data.spn;
                        /* Disables fields pertaining to loaded form*/
                        this.$.spnInput.disabled = "true";
                        /* Disables submit button if current user has submitted already */
                        if (request.formData.formAlias === this.formAlias) {
                            this.$.submitFormButton.disabled = "true";
                        }
                    }
				}
				else {
					console.log("secretary-form @ handleSecretaryFormResponse: success !== true");
				}
			}
		});

	</script>
</dom-module>